<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750016460990-b4vef6r0ruavf5k90jt9p9oud9dosjgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750016460990-b4vef6r0ruavf5k90jt9p9oud9dosjgu</string>
	<key>API_KEY</key>
	<string>AIzaSyDnPvqrpS6uLBbSAkZSa-MGqOEmz_LhgAI</string>
	<key>GCM_SENDER_ID</key>
	<string>750016460990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mihaiG.FireChat</string>
	<key>PROJECT_ID</key>
	<string>fire-chat-3a235</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-chat-3a235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750016460990:ios:5b0d9d9c6be2c1b4bb86ef</string>
</dict>
</plist>